<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EscenarioDeportivo</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <img src="~/Imagenes/DEPORTIVA.jpg" style="max-width: 100%">
            </div>
        </div>
    </div>
    <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 sticky-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                Deportiva
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNavDropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                Registros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/Registro/Municipio/VerMunicipios">Municipio</a>
                                <a class="dropdown-item"
                                asp-page="/Registro/Patrocinador/VerPatrocinadores">Patrocinador</a>
                                <a class="dropdown-item" asp-page="/Registro/Equipo/VerEquipos">Equipo</a>
                                <a class="dropdown-item" asp-page="/Registro/Entrenador/VerEntrenadores">Entrenador</a>
                                <a class="dropdown-item" asp-page="/Registro/Deportista/VerDeportistas">Deportista</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                Torneos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/Registro/Torneo/VerTorneos">Administrar</a>
                                <a class="dropdown-item"
                                asp-page="/Escenario/Inscripcion/InscripcionTorneo">Inscripciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Contacto</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                        <li class="nav-item">
                            <span class="nav-link">@User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Register">Registrar</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-facebook-square"></i>

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-github"></i></a>
            </section>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <img src="~/Imagenes/JeyTec.png" style="max-width: 8%">
        </div>
        <!-- Copyright -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
