@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <section id="deportivaSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#deportivaSlider" data-slide-to="0" class="active" style="background-color: gray;"></li>
            <li data-target="#deportivaSlider" data-slide-to="1" style="background-color: gray;"></li>
            <li data-target="#deportivaSlider" data-slide-to="2" style="background-color: gray;"></li>
        </ol>
        <div class="carousel-inner" style="text-align: center">
            <div class="carousel-item active">
                <img src="~/Imagenes/Slider/Imagen3.jpg" alt="" style="width: 80%">
            </div>
            <div class="carousel-item">
                <img src="~/Imagenes/Slider/Imagen2.jpg" alt="" style="width: 80%">
            </div>
            <div class="carousel-item">
                <img src="~/Imagenes/Slider/Imagen1.png" alt="" style="width: 80%">
            </div>
        </div>
    </section>
</div>